body{
    font-family: 'Poppins', sans-serif;
    background-color: #F5F5F5;
    color: #2D0A11;
}

h1, h2, h5{
    font-family: 'Lora', serif;
    color: #2D0A11;
}

.navbar-div{
    padding-left: 60px;
    padding-right: 60px;
}

.contact-btn{
    background-color: #BD0A31;
}

.hero-section{
    height: 70vh;
    padding: 100px 60px;
    margin-bottom: 30px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/hero-sec-img.png');
}

.about-hero-section{
    height: 60vh;
    padding: 150px 60px;
    background-position: unset;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/about-hero-image.png');
}

.hero-title-div{
    width: 50%;
    margin-right: auto;
}

.tour-btn{
    background-color: #BD0A31;
}

.body-container{
    padding: 40px 60px;
}

.hr{
    height: 2px;
    background-color: #3BA015;
    width: 20%;
}

.did-you-know{
    text-align: center;
    background-color: #FFFF;
    width: 30%;
    margin: 20px auto;
    padding: 20px;
    height: auto;
    border: 0 solid #3BA015;
    box-shadow: 8px 8px 8px -4px #44CC12;
}

.concerns-div{
    margin: 40px 0;
    height: 90%;
    padding: 30px 60px;
    background-color: #BD0A31;
}

.concern-card-title-div{
    height: 20%;
}

.card-div{
    margin-bottom: 40px;
}

.contact-us-btn{
    background-color: #3BA015;
}

.courses-div{
    padding: 30px 60px;
    height: 80%;
}

.course{
    border: 0px solid #F2889F;
}


.services-card-header{
    background-color: #BD0A31;
    height: auto;
    padding: 20px 20px;
}

.services-card-body{
    background-color: #BD0A31;
    opacity: 80%;
}

.explore-more-button-div{
    margin: 30px auto;
    text-align: center;
}

.explore-more-btn{
    border: 1px solid #BD0A31;
    color: #BD0A31;
}

.footer{
    padding: 40px 60px 20px 60px;
    height: auto;
    background-color: #FFFF;
    color: white;
}

.footer-content{
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
}

.footer-link{
    text-decoration: none;
    margin-left: 20px;
    color: #3BA015;
}

.footer-logo{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.mail-btn{
    margin: 20px 0;
    color: #3BA015;
    border: 1px solid #3BA015;
}

.social-media-links{
    display: flex;
    justify-content: space-between;
}


/* ------------------------------------------Contact Page CSS----------------------------------------------------------- */
#contact-body{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/conatct-pg-bg.png');
}

.contact-form{
    margin: 30px 0;
}

.input-label{
    margin-bottom: 20px;
    display: block;
}

.contact-div{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    box-shadow: 20px 10px 10px -4px #5E5E5E;
}

.form-div{
    padding: 40px 30px;
    background-color: #FFFF;
}

.contact-info-div{
    color: white;
    padding: 40px 30px;
    background-color: #BD0A31;

}

.contact-infos{
    margin-top: 40px;
}

.ind-cont{
    margin-bottom: 20px;
}

.form-row{
    margin-bottom: 70px;
}

.text-area-input{
    width: 100%;
    height: 80px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #3BA015;
    background-color: transparent;
}

.text-area-input:focus{
    outline: none;
    width: 100%;
    height: 80px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #3BA015;
    background-color: transparent;
}

.c-input{
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #3BA015;
    background-color: transparent;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type=text]:focus{
    border-bottom-color: #3BA015;
}

.send-message-btn{
    border: 2px solid #3BA015;
    margin-top: 20px;
}

/* --------------------------------------------------------------------------------------------------------------------- */

/* ------------------------------------------------Services CSS--------------------------------------------------------- */

.cert{
    margin-bottom: 40px;
}

.cert-body{
    width: 70%;
}

/* --------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:1050px){
    .did-you-know{
        width: 40%;
    }

    .courses-div{
        padding: 30px 50px;
    }

    .course{
        border: 0px solid #F2889F;
    }

    .contact-div{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    .body-container{
        padding: 40px 50px;
    }

    .concerns-div{
        margin: 30px 0;
    }

    .footer{
        padding: 40px 50px 20px 50px;
        height: auto;
        background-color: #FFFF;
        color: white;
    }
    

    .hero-section{
        padding: 80px 50px;
    }

    .about-hero-section{
        padding: 100px 50px;
    }

    .navbar-div{
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (max-width:990px) {
    .form-row{
        margin-bottom: 0;
    }

    input{
        margin-bottom: 30px;
    }

    .input-label{
        margin-bottom: 10px;
    }

    .about-hero-section{
        height: 50vh;
        padding: 100px 30px;
    }

    .cert-body{
        width: 80%;
    }

    .contact-div{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        box-shadow: 0 0 0 black;
    }
}

@media screen and (max-width:900px){
    .did-you-know{
        width: 45%;
    }
    .body-container{
        padding: 30px 50px;
    }

    .footer{
        padding: 40px 50px 20px 50px;
        height: auto;
        background-color: #FFFF;
        color: white;
    }

    .concerns-div{
        margin: 30px 0;
    }

    .contact-div{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    

    .courses-div{
        padding: 30px 50px;
    }

    .course{
        border: 0 none #F2889F;
    }

    .services-card-header{
        background-color: #BD0A31;
        height: 30%;
        padding: 20px 20px;
    }

    .hero-section{
        padding: 80px 50px;
    }

    .about-hero-section{
        height: 40vh;
        padding: 100px 50px;
    }

    .concerns-div{
        padding: 40px 50px;
    }

    .navbar-div{
        padding-left: 50px;
        padding-right: 50px;
    }

    .hero-title-div{
        width: 60%;
    }
}

@media screen and (max-width:815px){
    .did-you-know{
        width: 55%;
    }
    .body-container{
        padding: 30px 30px;
    }

    .footer{
        padding: 40px 30px 10px 30px;
        height: auto;
        background-color: #FFFF;
        color: white;
    }

    .card-div{
        margin-bottom: 25px;
    }

    .contact-div{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    .cert-body{
        width: 80%;
    }
    
    .concerns-div{
        margin: 30px 0;
    }

    .courses-div{
        padding: 30px 30px;
    }

    .course{
        border: 0px none #F2889F;
    }

    .services-card-header{
        background-color: #BD0A31;
        height: auto;
        padding: 10px 10px;
    }

    .hero-section{
        height: 70vh;
        padding: 80px 30px;
    }

    .about-hero-section{
        height: 40vh;
        padding: 100px 30px;
    }

    .concerns-div{
        padding: 40px 30px;
    }

    .navbar-div{
        padding-left: 30px;
        padding-right: 30px;
    }

    .hero-title-div{
        width: 60%;
    }
}

@media screen and (max-width:700px) {
    .footer-content{
        display: block;
        width: 60%;
    }

    .footer-links{
        margin-top: 20px;
    }

    .footer-link{
        margin-left: 0;
        margin-top: 20px;
        display: block;
    }
}

@media screen and (max-width:630px){
    .did-you-know{
        width: 55%;
    }

    h1{
        font-size: 28px;
    }

    h2{
        font-size: 22px;
    }

    p{
        font-size: 14px;
    }

    a{
        font-size: 14px;
    }
    .body-container{
        padding: 30px 30px;
    }

    .footer{
        padding: 40px 30px 10px 30px;
        height: auto;
        background-color: #FFFF;
        color: white;
    }
    
    .cert-body{
        width: 90%;
    }

    .card-div{
        margin-bottom: 20px;
    }

    .courses-div{
        padding: 30px 30px;
    }

    .concerns-div{
        margin: 25px 0;
    }

    .course{
        border: 0px none #F2889F;
    }

    .services-card-header{
        background-color: #BD0A31;
        height: auto;
        padding: 10px 10px;
    }

    .hero-section{
        padding: 80px 30px;
        height: 70vh;
    }

    .about-hero-section{
        height: 50vh;
        padding: 100px 30px;
    }

    .concerns-div{
        padding: 40px 30px;
    }

    .navbar-div{
        padding-left: 30px;
        padding-right: 30px;
    }

    .hero-title-div{
        width: 70%;
    }

    .contact-div{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
}

@media screen and (max-width:550px){
    .did-you-know{
        width: 70%;
    }

    h1{
        font-size: 28px;
    }

    h2{
        font-size: 22px;
    }

    p{
        font-size: 14px;
    }

    a{
        font-size: 14px;
    }
    
    .body-container{
        padding: 20px 20px;
    }

    .footer{
        padding: 30px 20px 10px 20px;
        height: auto;
        background-color: #FFFF;
        color: white;
    }
    

    .courses-div{
        padding: 30px 20px;
    }

    .card-div{
        margin-bottom: 20px;
    }

    .concerns-div{
        margin: 20px 0;
    }

    .cert-body{
        width: 95%;
    }

    .course{
        border: 0px none #F2889F;
    }

    .services-card-header{
        background-color: #BD0A31;
        height: auto;
        padding: 10px 10px;
    }

    .hero-section{
        padding: 80px 20px;
        height: 70vh;
    }

    .about-hero-section{
        padding: 100px 20px;
        height: 50vh;
    }

    .concerns-div{
        padding: 40px 20px;
    }

    .navbar-div{
        padding-left: 20px;
        padding-right: 20px;
    }

    .hero-title-div{
        width: 80%;
    }
}

